<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Vegana Shop Test Suite" parallel="false" verbose="1">
    <test name="Login Tests">
        <classes>
            <class name="com.java.automation.tests.user.LoginTest"/>
        </classes>
    </test>
    
    <test name="Register Tests">
        <classes>
            <class name="com.java.automation.tests.user.RegisterTest"/>
        </classes>
    </test>
    
    <test name="Admin Tests">
        <classes>
            <class name="com.java.automation.tests.admin.AdminTest"/>
        </classes>
    </test>
    
    <test name="Admin Functions Tests">
        <classes>
            <class name="com.java.automation.tests.admin.AdminFunctionsTest"/>
        </classes>
    </test>
</suite>

