name: Trigger Jenkins Pipeline

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  trigger_jenkins:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Jenkins Job
        run: |
          echo "Triggering Jenkins pipeline..."

          curl -X POST \
            "${{ secrets.JENKINS_URL }}/job/Vegana-CI-CD/build" \
            --user "${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_API_TOKEN }}"

          echo "Done."
