.breadcrumb {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: none;
    padding: 0px
}

.breadcrumb li a {
    color: var(--graycolor)
}

.breadcrumb li a:hover {
    color: var(--brandcolor);
    text-decoration: underline
}

.breadcrumb .active {
    color: var(--brandcolor)
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--brandcolor)
}

.pagination {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px 25px;
    border-radius: 3px;
    background: var(--whitecolor)
}

.page-item {
    margin: 0px 6px
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border-radius: 3px
}

.page-item .active {
    color: var(--whitecolor);
    background: var(--brandcolor)
}

.page-link {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    border: none;
    padding: 0px;
    color: var(--bodycolor);
    background: var(--graycolor)
}

.page-link:hover {
    color: var(--whitecolor);
    background: var(--brandcolor)
}

.page-link:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

@media (max-width: 991px) {
    .pagination {
        margin-top: 0px;
        margin-bottom: 60px
    }

    .page-link {
        width: 35px;
        height: 35px;
        line-height: 35px
    }
}

#slider-range {
    border-radius: 30px;
    margin-top: 15px
}

#slider-range span {
    border-radius: 50%
}

#amount {
    color: var(--brandcolor);
    font-size: 18px;
    font-weight: 500;
    border: none;
    background: none;
    text-align: center;
    margin-top: 15px;
    width: 100%
}

.ui-state-active {
    background: var(--brandcolor) !important;
    border-color: var(--brandcolor) !important
}

.custom-checkbox {
    padding-left: 25px
}

.custom-control-label::before,
.custom-control-label::after {
    left: -25px
}

.custom-control-input:checked~.custom-control-label::before {
    background: var(--brandcolor);
    border-color: var(--brandcolor);
    -webkit-box-shadow: none;
    box-shadow: none
}

.section {
    padding: 100px 0px 0px
}

.section-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 50px
}

.title {
    position: relative
}

.title::before {
    position: absolute;
    content: "";
    top: 50%;
    right: -80px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 60px;
    height: 2px;
    border-radius: 30px;
    background: var(--brandcolor)
}

.title::after {
    position: absolute;
    content: "";
    top: 70%;
    right: -55px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 35px;
    height: 2px;
    border-radius: 30px;
    background: var(--brandcolor)
}

@media (max-width: 767px) {
    .section {
        padding: 60px 0px 0px
    }

    .section-heading {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 30px
    }

    .section-heading h2 {
        margin-bottom: 45px
    }

    .title::before,
    .title::after {
        top: 0px;
        right: 50%;
        -webkit-transform: translate(50%, 0);
        transform: translate(50%, 0)
    }

    .title::before {
        top: 50px
    }

    .title::after {
        top: 55px
    }
}

.product-slider .product-card {
    margin: 0px 15px
}

.product-card {
    width: 100%;
    border-radius: 3px;
    background: var(--whitecolor)
}

.product-card:hover {
    -webkit-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1)
}

.product-card:hover .product-widget {
    opacity: 1;
    bottom: 15px
}

.product-card:hover .product-name h6 a {
    color: var(--brandcolor)
}

.product-img {
    position: relative
}

.product-img img {
    width: 100%;
    border-radius: 3px
}

.product-widget {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.product-widget li {
    margin: 0px 5px
}

.product-widget li button {
    border: none;
    outline: none;
    background: none
}

.product-widget li button i {
    width: 38px;
    height: 38px;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    border-radius: 3px;
    color: var(--whitecolor);
    background: var(--brandcolor);
    text-shadow: var(-tshadow);
    -webkit-box-shadow: var(--biconshadow);
    box-shadow: var(--biconshadow)
}

.product-content {
    padding: 15px;
    border-top: 1px solid var(--bordercolor)
}

.product-name h6 {
    font-weight: 500;
    margin-bottom: 13px
}

.product-name h6 a {
    color: var(--headingcolor)
}

.product-price {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.product-price h6 {
    letter-spacing: -0.5px;
    color: var(--textcolor)
}

.product-price h6 del {
    color: var(--brandcolor);
    font-size: 16px;
    margin-right: 5px;
}

.product-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline
}

.product-rating i {
    color: var(--starcolor);
    font-size: 15px;
    margin-right: 5px
}

.product-rating span {
    color: var(--textcolor);
    font-size: 15px;
    font-weight: 500
}

.product-btn a {
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 0px;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--brandcolor);
    border: 1px solid var(--brandcolor);
    text-shadow: var(--tshadow);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.product-btn a:hover {
    color: var(--whitecolor);
    background: var(--brandcolor)
}

.product-btn i {
    margin-top: -2px;
    margin-right: 8px
}

@media (max-width: 575px) {
    .product-slider .product-card {
        width: 200px;
        margin: 0px 10px
    }
}

.single-banner {
    background: url(../../images/banner/04.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0px;
    position: relative;
    z-index: 1
}

.single-banner::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 186, 71, 0.3)), to(rgba(85, 172, 65, 0.2)));
    background: linear-gradient(rgb(19 66 8 / 65%), rgb(29 88 16 / 92%));
    z-index: -1
}

.single-content {
    text-align: center
}

.single-content h2 {
    font-size: 38px;
    margin-bottom: 18px;
    color: var(--whitecolor)
}

@media (max-width: 767px) {
    .single-banner {
        padding: 80px 0px
    }

    .single-content h2 {
        font-size: 35px
    }
}

.product-list {
    padding: 100px 0px
}

.product-ad {
    margin-bottom: 30px
}

.product-ad a img {
    width: 100%;
    border-radius: 3px
}

.product-bar {
    padding: 25px 15px;
    border-radius: 3px;
    margin-bottom: 30px;
    background: var(--whitecolor)
}

.product-bar:last-child {
    margin-bottom: 0px
}

.product-bar h6 {
    padding-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--bordercolor)
}

.product-bar-content input {
    width: 100%;
    height: 40px;
    padding: 0px 15px;
    border-radius: 3px;
    margin-bottom: 10px;
    border: 1px solid var(--bordercolor)
}

.product-bar-content .scroll-list {
    height: 200px;
    padding: 0px 8px;
    overflow-y: scroll
}

.product-bar-content .scroll-list li {
    margin: 8px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.product-bar-content .scroll-list li:hover .custom-control-label,
.product-bar-content .scroll-list li:hover .product-cate-number {
    color: var(--brandcolor)
}

.product-bar-content .custom-control-label {
    font-size: 15px;
    cursor: pointer;
    text-transform: capitalize
}

.product-cate-number {
    font-size: 15px
}

.clear-filter-btn {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 0px;
    margin-top: 10px;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--brandcolor);
    border: 1px solid var(--brandcolor);
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.clear-filter-btn:hover {
    color: var(--whitecolor);
    background: var(--brandcolor)
}

.clear-filter-btn i {
    margin-top: -2px;
    margin-right: 5px
}

.product-filter {
    background: var(--whitecolor);
    border-radius: 3px;
    padding: 15px 25px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.product-card-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.product-card-type li {
    margin-left: 12px
}

.product-card-type li i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    background: var(--graycolor)
}

.grid-verti.active i,
.grid-hori.active i {
    color: var(--whitecolor);
    background: var(--brandcolor)
}

.card-gape {
    margin-bottom: 30px
}

@media (max-width: 991px) {
    .content-reverse {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }

    .product-ad {
        text-align: center
    }
}

@media (max-width: 767px) {
    .product-list {
        padding: 80px 0px
    }

    .product-filter {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .product-page-number,
    .product-short-select {
        margin-bottom: 15px
    }
}

@media (max-width: 575px) {
    .product-list {
        padding: 60px 0px
    }

    .product-card-parent .col-6 {
        padding: 0px 10px
    }
}